@use '../utils' as *;

.enjoy {
  padding: 5rem 3rem;
  @include grid(1, 5rem);

  @include mq(lg) {
    padding: 5rem 15rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  &__card {
    border: 0.1rem solid $form-bg-color;
    border-radius: border-radius(s);
    overflow: hidden;
    @extend %transition;

    &:hover {
      box-shadow: box-shadow(s);
    }
  }

  &__imageBox {
    position: relative;
    width: 100%;
    height: 30rem;
  }

  &__content {
    padding: 3rem;
  }
}
